.btn {
    margin-right: 10px;
}

.btn.selected {
    background: lightblue;
}

.affair {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: green;
}
